/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
alignright {
    float: right;
    margin-left: 15px;
}
aligncenter {
    display: block;
    margin: 0 auto 15px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="url"], textarea {
    border: none;
    padding: 15px;
    background-color: #f9f9f9;
}
input[type="submit"], button[type="submit"] {
    border: medium none;
    color: #fff;
    margin: 0;
    padding: 15px 30px;
    width: auto;
}
a:focus, input:focus, textarea:focus, button:focus {
    outline: 0 solid
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}    
body {
    
}
a:hover {
    text-decoration: none;
}


.section-padding {
    padding: 80px 0;
}
body {
    color: #7b7b7b;
    font-size: 18px;
    line-height: 1.8;
}
h1 {
    color: #313131;
}
.biger-text {
    text-align: center;
    padding: 50px;
}
.biger-text h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}
.view-photo-btn {
    background-color: #4752e9;
    border-radius: 50px;
    color: #fff;
    padding: 8px 30px;
    transition: all 0.3s ease 0s;
    margin-top: 25px;
    display: inline-block;
    text-transform: uppercase;
}
.view-photo-btn:hover {
    background-color: #616ae6;
    color: #fff;
}
.shadow-gallery {
    height: 543px;
    position: relative;
}
.shadow-gallery img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 50px #000;
}

.shadow-gallery img:nth-child(2) {
    bottom: 0;
    height: 82.99%;
    position: absolute;
    right: 0;
    width: 60.57%;
    z-index: 2;
}
.shadow-gallery img:nth-child(3) {
    bottom: -50px;
    height: 56.7%;
    left: -50px;
    position: absolute;
    width: 77.5%;
    z-index: 3;
}
.shadow-gallery img:nth-child(1) {
    height: 65.98%;
    left: 0;
    top: -50px;
    width: 66.34%;
}
